<!DOCTYPE html>
<html ng-app ='myApp'>
  <head>
    <meta charset="utf-8">
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/clientApp.js" charset="utf-8"></script>
    <link href="vendors/bootstrap.min.css" rel="stylesheet" type="text"></link>
    <title>Mongo Peer Assignment</title>
  </head>
  <body>
    <h2>Student Assignments</h2>
    <div ng-controller="inputs">
    <input type="num" name="assignment_number" id="assignment_number" value="" ng-model="assNum" placeholder="Assignment Number">
    <input type="text" name="first_name" id="first_name" value="" ng-model="fName" placeholder="First Name">
    <input type="text" name="last_name" id="last_name" value="" ng-model="lName" placeholder="Last Name">
    <input type="num" name="score" id="score" value="" ng-model="score" placeholder="Score">
  <input type="date" name="date_completed" id="date_completed" value="" ng-model="dCompleted" placeholder="Date Completed">
    <p>Completed? Select:
      <select name="trueFalse" id="trueFalse" ng-model="trueFalse">
        <option value="false">False</option>
        <option value="true">True</option>
      </select>
    <button ng-click="addRecord()">Add Record</button>
    <button ng-click="getRecords()">Get Records</button>
</div>




  </body>
</html>
